In [22]:
list1 = list(range(10))

In [111]:
# Nomor 1 : Slice the list to contains 5th to 10th element
print('Nomor 1')
list1[5:10]

Nomor 1

[5, 6, 7, 8, 9]

In [112]:
list2=[["Anne","Tim",2017],["Jimmy","Sarah",2015],["Bella","Alain",2010],["Sam","Neveen", 2007]]
# Nomor 2 :
print('Nomor 2')
list_couple = [[row[0], row[1]] for row in list2]
print(list_couple)
# Nomor 3 :
print('Nomor 3')
list_tahun = [row[2] for row in list2]
print(list_tahun)

Nomor 2
[['Anne', 'Tim'], ['Jimmy', 'Sarah'], ['Bella', 'Alain'], ['Sam', 'Neveen']]
Nomor 3
[2017, 2015, 2010, 2007]

In [113]:
# Nomor 4
print('Nomor 4')
price_usd=[23.5, 60.0, 25.0, 27.5, 30.0] 
rate = 13900
print(list(map(lambda x: x * rate, price_usd)))

Nomor 4
[326650.0, 834000.0, 347500.0, 382250.0, 417000.0]

In [114]:
# Nomor 5
print('Nomor 5')
def grade(score):
    if score <= 40:
        return 'Fail'
    elif score > 60:
        return 'Pass'
    elif score > 40 & score <= 60:
        return 'Remedi'
    else:
        return 'Other'

Nomor 5

In [115]:
#Nomor 6
print('Nomor 6')
Score=[55,68,44,89,90,78,46,70,45,75]
print(list(map(grade, Score)))

Nomor 6
['Remedi', 'Pass', 'Remedi', 'Pass', 'Pass', 'Pass', 'Remedi', 'Pass', 'Remedi', 'Pass']

In [121]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())
# Nomor 8
print('Nomor 8')
print(df.loc[['A', 'B'], ['W', 'X']])
# Nomor 9
print('Nomor 9')
print(df[df.W > 0][['Z']])
# Nomor 10
print('Nomor 10')
dfB = df.loc[['B']]
dfB = dfB[['X', 'Y']]
print(dfB[dfB.Y > 0]) # Hasilnya kosong
# Nomor 11
print('Nomor 11')
print(df.mean())
# Nomor 12
print('Nomor 12')
print(df[['Y', 'Z']].describe())
# Nomor 13
print('Nomor 13')
df = df.drop('Z', axis=1)
print(df)
# Nomor 14
print('Nomor 14')
df = df.drop(['E'])
print(df)
# Nomor 15
print('Nomor 15')
df['V'] = df['W'] + df['X']
print(df)

Nomor 8
          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
Nomor 9
          Z
A  0.503826
B  0.605965
D  0.955057
E  0.683509
Nomor 10
Empty DataFrame
Columns: [X, Y]
Index: []
Nomor 11
W    0.343858
X    0.453764
Y    0.452287
Z    0.431871
dtype: float64
Nomor 12
              Y         Z
count  5.000000  5.000000
mean   0.452287  0.431871
std    1.454516  0.594708
min   -0.933237 -0.589001
25%   -0.848077  0.503826
50%    0.528813  0.605965
75%    0.907969  0.683509
max    2.605967  0.955057
Nomor 13
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967
Nomor 14
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
Nomor 15
          W         X         Y         V
A  2.706850  0.628133  0.907969  3.334983
B  0.651118 -0.319318 -0.848077  0.331800
C -2.018168  0.740122  0.528813 -1.278046
D  0.188695 -0.758872 -0.933237 -0.570177