In [70]:
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold

In [71]:
np.random.seed(7)

In [72]:
#load data
dataset = pd.read_csv('dataset_dl/boston-housing-prices/housing.csv',delim_whitespace=True,header=None)

In [73]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [74]:
dataset = data.values

In [75]:
X = dataset[:, 0:13] #fitur
Y = dataset[:,13] #target

In [82]:
fkfold = KFold(n_splits=10,shuffle=True,random_state=7)
lossscr=[]
for train, test in fkfold.split(X,Y):
    model=Sequential()
    model.add(Dense(13,input_dim=13,kernel_initializer='uniform',activation='relu'))
    model.add(Dense(8, kernel_initializer='uniform',activation='relu'))
    model.add(Dense(1,kernel_initializer='uniform',activation='linear'))
    model.compile(loss='mean_squared_error', optimizer='adam')

    model.fit(X[train],Y[train],epochs=150,batch_size=5,verbose=0)
    scores=model.evaluate(X[test],Y[test],verbose=0)
    lossscr.append(scores)
    print("\n%s:%2.f%%"%(model.metrics_names[0],scores))

loss:11%

loss:34%

loss:17%

loss:16%

loss:25%

loss:19%

loss:27%

loss:19%

loss:11%

loss:15%

In [83]:
print("%.2f(+/- %.2f)"%(np.mean(lossscr),np.std(lossscr)))

19.46(+/- 6.90)